<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Index Page</h1>

    <ul>
        <% for(let i = 0; i < tvshows.length; i++){ %>
          <li>
            <!-- not sure why I only need a / here and not /home -->
               The <a href="/<%=tvshows[i].id%>">
                 <%=tvshows[i].name; %>
               </a> is
               <%=tvshows[i].reason; %>.

                <% if(tvshows[i].netflixHulu === true){ %>
                  It is on Netflix or Hulu!!!!!
                <% } else { %>
                  It is not on Netflix or Hulu.
                <% } %>

<!-- Delete route  -->
<form method="POST" action="/<%=tvshows[i].id%>?_method=DELETE">
  <input type="submit" value="DELETE" />
      <!-- the value="DELETE" is what you see on the button.  -->
    </form>

<!-- Edit Link -->
    <a href ="/home/<%=tvshows[i].id%>/edit">Edit</a>
</li>
<% } %>
</ul>
<!-- Create Link -->
<nav>
<a href="/new">Create a New TV Show for Party Potensh to Watch</a>
</nav>

  </body>
</html>
